[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium-wrapper-3 = {file = "../Selenium-Wrapper-3", editable = true}
python-dotenv = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
